In [7]:
from notebook_importer import *

from base import df
from sequencias import dh, dt2

import pandas as pd

In [8]:
df.head()

,demanda,criacao,em,de,para,acum_tempo,acum_dias,tipo,ano,semana,ano_semana,ano_mes,trimestre
0,38,2013-03-06 11:47:35,2013-06-04 16:20:21,DESCONHECIDO,Estimar pontos de função,90 days 04:32:46,90,outro,2013,10,2013-10,2013-03,2013-1
1,38,2013-03-06 11:47:35,2013-06-13 16:54:26,Estimar pontos de função,Elaborar parecer: desenvolver ou adquirir?,99 days 05:06:51,99,outro,2013,10,2013-10,2013-03,2013-1
2,38,2013-03-06 11:47:35,2013-06-14 09:59:39,Elaborar parecer: desenvolver ou adquirir?,Considerar decisão da DISIS: ratificar ou reti...,99 days 22:12:04,99,outro,2013,10,2013-10,2013-03,2013-1
3,38,2013-03-06 11:47:35,2014-07-29 15:51:40,Considerar decisão da DISIS: ratificar ou reti...,Atualizar registro da demanda,510 days 04:04:05,510,outro,2013,10,2013-10,2013-03,2013-1
4,38,2013-03-06 11:47:35,2014-07-29 15:51:54,Atualizar registro da demanda,Demanda sem ônus em pontos de função concluída,510 days 04:04:19,510,outro,2013,10,2013-10,2013-03,2013-1

In [21]:
dh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24738 entries, 0 to 24737
Data columns (total 2 columns):
demanda      24738 non-null int64
sequencia    24738 non-null object
dtypes: int64(1), object(1)
memory usage: 386.7+ KB

In [22]:
dt2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 4 columns):
sequencia      598 non-null object
demanda        598 non-null int64
sequencia.1    598 non-null int64
tipo           598 non-null object
dtypes: int64(2), object(2)
memory usage: 18.8+ KB

In [24]:
dm = pd.merge(dh, dt2, on='sequencia')
dm

,demanda_x,sequencia,demanda_y,sequencia.1,tipo
0,38,"(('DESCONHECIDO', 'Estimar pontos de função'),...",1,1,interna
1,73,"(('DESCONHECIDO', 'Estimar pontos de função'),...",1,1,interna
2,74,"(('DESCONHECIDO', 'Estimar pontos de função'),...",1,1,interna
3,77,"(('Realizar implementação', 'Elaborar procedim...",19,1,interna
4,78,"(('Realizar implementação', 'Elaborar procedim...",19,1,interna
...,...,...,...,...,...
24733,25359,"(('Novo', 'Realizar orçamento'), ('Realizar or...",3,1,aberta
24734,25383,"(('Novo', 'Realizar orçamento'), ('Realizar or...",3,1,aberta
24735,25386,"(('Novo', 'Realizar orçamento'), ('Realizar or...",1,1,aberta
24736,25402,"(('Novo', 'Desenvolver internamente'), ('Desen...",1,1,interna
24737,25466,"(('Novo', 'Realizar orçamento'), ('Realizar or...",1,1,aberta

In [27]:
d9 = pd.merge(df, dm[['demanda_x', 'tipo']], left_on='demanda', right_on='demanda_x')

In [28]:
d9

,demanda,criacao,em,de,para,acum_tempo,acum_dias,tipo_x,ano,semana,ano_semana,ano_mes,trimestre,demanda_x,tipo_y
0,38,2013-03-06 11:47:35,2013-06-04 16:20:21,DESCONHECIDO,Estimar pontos de função,90 days 04:32:46,90,outro,2013,10,2013-10,2013-03,2013-1,38,interna
1,38,2013-03-06 11:47:35,2013-06-13 16:54:26,Estimar pontos de função,Elaborar parecer: desenvolver ou adquirir?,99 days 05:06:51,99,outro,2013,10,2013-10,2013-03,2013-1,38,interna
2,38,2013-03-06 11:47:35,2013-06-14 09:59:39,Elaborar parecer: desenvolver ou adquirir?,Considerar decisão da DISIS: ratificar ou reti...,99 days 22:12:04,99,outro,2013,10,2013-10,2013-03,2013-1,38,interna
3,38,2013-03-06 11:47:35,2014-07-29 15:51:40,Considerar decisão da DISIS: ratificar ou reti...,Atualizar registro da demanda,510 days 04:04:05,510,outro,2013,10,2013-10,2013-03,2013-1,38,interna
4,38,2013-03-06 11:47:35,2014-07-29 15:51:54,Atualizar registro da demanda,Demanda sem ônus em pontos de função concluída,510 days 04:04:19,510,outro,2013,10,2013-10,2013-03,2013-1,38,interna
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80401,25504,2020-01-24 16:08:19,2020-01-24 17:35:26,Novo,Desenvolver internamente,0 days 01:27:07,1,outro,2020,4,2020-04,2020-01,2020-1,25504,interna
80402,25504,2020-01-24 16:08:19,2020-01-24 17:40:14,Desenvolver internamente,Demanda concluída sem ônus,0 days 01:31:55,1,outro,2020,4,2020-04,2020-01,2020-1,25504,interna
80403,25507,2020-01-27 07:56:36,2020-01-27 09:52:40,Novo,Demanda cancelada,0 days 01:56:04,1,outro,2020,5,2020-05,2020-01,2020-1,25507,cancelada
80404,25509,2020-01-27 11:05:30,2020-01-27 11:43:34,Novo,Desenvolver internamente,0 days 00:38:04,1,outro,2020,5,2020-05,2020-01,2020-1,25509,interna
80405,25509,2020-01-27 11:05:30,2020-01-27 11:48:00,Desenvolver internamente,Demanda concluída sem ônus,0 days 00:42:30,1,outro,2020,5,2020-05,2020-01,2020-1,25509,interna